<odoo>
    <!-- Menú principal -->
    <menuitem name="QuintoWood" id="quinto_wood.menu_root"/>

    <!-- Categorías de menú -->
    <menuitem name="Gestión de Productos" id="quinto_wood.menu_productos" parent="quinto_wood.menu_root"/>
    <menuitem name="Gestión de Proveedores" id="quinto_wood.menu_proveedores" parent="quinto_wood.menu_root"/>

    <!-- Acciones -->
    <menuitem name="Lista de Productos" id="quinto_wood.menu_productos_list" parent="quinto_wood.menu_productos"
              action="quinto_wood_producto_action"/>
    <menuitem name="Lista de Proveedores" id="quinto_wood.menu_proveedores_list" parent="quinto_wood.menu_proveedores"
              action="quinto_wood_proveedor_action"/>
</odoo>
